body {
    background-image: url(../../assets/images/bg.jpg);
    height: 947px;
    background-size: cover;
}

body:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
    z-index: -1;
}

.heading-section {
    font-size: 28px;
    color: #fff;
}

.wrap {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}

.wrap h3 {
    font-weight: 300;
}
